<app-materials></app-materials>

<hello name="{{ name }}"></hello>

<div style="text-align:center">
   <span >{{title}}.</span>
</div>

<app-new-cmp></app-new-cmp>

<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style = "width:100%;">
   <div style = "width:40%;float:left;border:solid 1px black;">     
      <h1>Currency Pipe</h1>
      <b>{{6589.23 | currency:"INR"}}</b><br/>
      <b>{{6589.23 | currency:"USD":true}}</b> //Boolean true is used to get the sign of the currency.
      
      <h1>Date pipe</h1>
      <b>{{todaydate | date:'dd/MM/yyyy HH:mm:ss'}}</b><br/>
      <b>{{todaydate | date:'shortTime'}}</b><br/>
      <b>{{todaydate}}</b>
      
      <h1>Decimal Pipe</h1>
      <b>{{ 454.78787814 | number: '3.4-4' }}</b> // 3 is for main integer, 4 -4 are for integers to be displayed.
   </div>
   

</div> -->
<br>
<br>
<!-- {{serviceProperty}} -->

{{page | testPipe}}

<app-forms></app-forms>

<app-animations></app-animations>

<div style="padding-top:500px;">
  <app-datepicker></app-datepicker>
</div>